@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Yellowtail';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#scroll::-webkit-scrollbar {
    display: none;
}

#scroll{
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

//carousel styles
.carousel .control-dots .dot{
  background: #C4C4C4 !important;
}
.carousel.carousel-slider {
  padding-bottom: 30px;
}

.carousel .carousel-status {
  right: 6px !important;
}


.css-wsp0cs-MultiValueGeneric{
  color: #274C5B !important;
  font-size: 12px !important;
}

